@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');


.root {
    -fx-font-family: "Jersey 10";
    -fx-font-size: 30;
}

.placeholders {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color: black;
}

/* Outer TextArea */
.text-area {
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-control-inner-background: #1e1e1e;
    -fx-text-fill: white;
}

/* The ScrollPane that wraps the text content */
.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}




